@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&family=Playfair+Display:wght@400;500;600;700&display=swap');

:root{
    --titulo: 'Playfair Display', serif;
    --parrafo: 'Cormorant Garamond', serif;
    --color_Azul: #4abdac;
    --color_naranja: #fc4a1a;
    --color_amarillo: #f7b733;
    --color_plateado: #dfdce3;
    --color_blanco: #fff;
    --color_gris: #444;
    --color_negro: #000;
    --fontSize_titulo: 3.3rem;
    --margin_titulo: 5rem 0;
}

*,*::after,*::before{
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

/* -------------------------------|  BARRA DE NAVEGACIÓN  |------------------------- */

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--color_blanco);
    align-items: center;
    padding: 1rem 3rem;
    box-shadow: 2px 4px 10px rgb(186, 184, 184);
    z-index: 995;
}

.contLogo{
    display: flex;
    align-items: center;
}

.imgLogo{
    max-width: 100%;
    width: 6rem;
    animation-name: moverImgLogo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

@keyframes moverImgLogo {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(20rem);
    }
}

.logo{
    font-family: var(--titulo);
    font-size: 2.5rem;
    color: var(--color_negro);
}

.contNav{
    display: flex;
    align-items: center;
}

.navInicio,
.navJapon,
.navChina,
.navCorea{
    margin: 0 1.5rem;
    font-family: var(--parrafo);
    font-size: 2rem;
    color: var(--color_amarillo);
    font-weight: 600;
    padding: .5rem;
}

.navInicio:hover,
.navJapon:hover,
.navChina:hover,
.navCorea:hover{
    animation-name: moverNav;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes moverNav {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(-15deg);
    }
}

.imgDarkMode,
.imgMenu{
    width: 2rem;
    pointer-events: none;
}

.btnDarkMode,
.btnMenu{
    cursor: pointer;
    margin: 0 .5rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .1);
}
.btnMenu{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.btnDarkMode:hover,
.btnMenu:hover{
    background-color: var(--color_amarillo);
    transition: background-color 1s ease-in;
}

/* -----------------------------|  SECCIÓN NOVELAS POPULARES  |--------------------------- */

.main{
    position: relative;
    padding: 0 2rem;
    padding-top: 8rem;
    height: 100vh;
}

/* .novelPopular{
    padding: 1rem;
} */

.Ptitulo{
    font-family: var(--titulo);
    font-size: var(--fontSize_titulo);
    color: var(--color_amarillo);
    text-align: center;
    margin: var(--margin_titulo);
}

.imgFlechaIzq, .imgFlechaDer{
    pointer-events: none;
}

.btnFlechaIzq{
    position: absolute;
    top: 38rem;
    left: 10%;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

.btnFlechaDer{
    position: absolute;
    top: 38rem;
    right: 10%;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

.btnFlechaDer:hover,
.btnFlechaIzq:hover{
    background-color: var(--color_amarillo);
    transition:  background-color 1s ease ;
}

.imgNP{
    max-width: 100%;
    width: 30rem;
    height: 35rem;
    object-fit: cover;
}

.nP{
    position: absolute;
    top: 23rem;
    left: 15%;
    right: 15%;
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
    opacity: 0;
    pointer-events: none;
    margin-bottom: 2rem;
}

.npTitulo{
    font-family: var(--titulo);
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.nPgenero,.nPidioma,.nPsinopsis{
    font-family: var(--parrafo);
    font-size: 2rem;
    margin-bottom: .5rem;
}

.linkNp{
    display: inline-block;
    font-family: var(--parrafo);
    font-size: 2rem;
    border-radius: .6rem ;
    color: var(--color_negro);
    background-color: var(--color_amarillo);
    padding: .5rem 1.2rem;
    margin-top: 1rem;
}

.linkNp:hover{
    background-color: var(--color_naranja);
    color: var(--color_blanco);
    transition: all .3s ease-in ;
}

/* -------------------------|  SECCIÓN LISTA DE NOVELAS  |------------------------- */
.Ltitulo{
    font-family: var(--titulo);
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: var(--fontSize_titulo);
    color: var(--color_amarillo);
    text-align: center;
}

.contLista{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    padding: 1rem;
    gap: 4em;
}

.listaCard{
    width: 25rem;
    height: 32rem;
    background-color: var(--color_blanco);
    box-shadow: 2px 4px 10px rgb(186, 184, 184);
    border-radius: 1px;
    text-align: center;
    padding: 1rem;
}

.listaCard:hover{
    animation-name: moverCard;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    filter: grayscale(50%);
    transition: filter 1s ease;

}

@keyframes moverCard {
    0%{
        transform: rotate(0);
        
    }
    50%{
        transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
}
    100%{
        transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -o-transform: rotate(15deg);
}
}

.imgLista{
    max-width: 100%;
    width: 20rem;
    height: 25rem;
    object-fit: cover;
}

.tcard{
    margin-top: .5rem;
    font-family: var(--parrafo);
    font-size: 1.9rem;
    color: var(--color_negro);
}

.imgFlechaUp{
    pointer-events: none;
}

.btnFlechaUp{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    padding: 1rem;
    background-color: var(--color_amarillo);
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    z-index: 800;
}

/* ----------------------------------|  PREGUNTAS  |--------------------------------- */
.preguntas{
    position: relative;
    margin: 5rem 10rem;
    display: grid;
    grid-auto-flow: row;
    gap: 2em;
}

.pQueEsNovela1, .pQueEsNovela2{
    border-radius: 6px;
    padding: 2rem;
    box-shadow: 2px 4px 10px rgb(186, 184, 184);
    height: 7rem;
    overflow: hidden;
    transition: height 1s ease;
}

.tituloPg{
    font-family: var(--titulo);
    font-size: var(--fontSize_titulo);
    text-align: center;
    color: var(--color_amarillo);
    margin: 2rem 0;
}

.pregunta1, .pregunta2{
    font-family: var(--titulo);
    font-size: 2rem;
    color: var(--color_amarillo);
    margin-bottom: 3.5rem;
}

.parrafoPregunta{
    font-family: var(--parrafo);
    font-size: 1.8rem;
}

.imgPreguntas{
    pointer-events: none;
    transform: rotate(0);
    transition: transform 1s ease-in;
}

.btnPregunta1,.btnPregunta2{
    position: absolute;
    right: 2rem;
    border-radius: 50%;
    padding: .5rem;
    cursor: pointer;
}

.btnPregunta1:hover, .btnPregunta2:hover{
    background-color: var(--color_amarillo);
    transition: background-color .5s ease;
}

/* ---------------------------------| FOOTER  |------------------------------------- */

.footer{
    padding: 2rem;
    background-color: var(--color_gris);
}

.Ftitulo{
    text-align: center;
    font-family: var(--parrafo);
    font-size: 1.5rem;
    color: var(--color_plateado);
}

/* ---------------------|  SHOW  |----------------------------- */
.nP_show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity 1s ease-in-out;
}

.pQueEsNovela_show{
    height: 19rem;
    transition: height 1s ease; 
}

.imgPreguntas_show{
    transform: rotate(180deg);
    transition: transform 1s ease-in;
}

.btnFlechaUp_show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .3s ease-in;
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -ms-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
}

.temaFondo{
    background-color: var(--color_gris);
}
.temaLetra{
    color: var(--color_plateado);
}
.temaH{
    background-color: var(--color_negro);
}

/* -------------------------------------|  RESPONSIVE  |----------------------------------- */

@media screen and (max-width: 1000px){
    .btnMenu{
        right: 8rem;
        opacity: 1;
        pointer-events: unset;
    }

    .contNav{
        position: absolute;
        top: 8rem;
        right: -100rem;
        width: 35rem;
        height: 100vh;
        padding-top: 4rem ;
        background-color: var(--color_negro);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 3em;
        z-index: 999;
        transition: right 1s ease;
        opacity: 0;
        pointer-events: none;
    }

    .contNav_show{
        right: 0;
        opacity: 1;
        pointer-events: unset;
        transition: right 1s ease;
    }

    .pQueEsNovela_show{
        height: 22rem;
    }

    .btnFlechaIzq{
        left: 6%;
    }
    .btnFlechaDer{
        right: 6%;
    }

    .Ltitulo{
        margin-top: 10rem;
    }

}

@media screen and (max-width: 800px){
    .nP{
        grid-auto-flow: row;
    }
    .imgNP{
        width: 24rem;
        margin: auto;
    }

.btnFlechaIzq,.btnFlechaDer{
    top: 55rem;
}

.Ltitulo{
    margin-top: 40rem;
}

.listaCard{
    width: 30rem;
    height: 37rem;
}

.pregunta1, .pregunta2{
    font-size: 1.7rem;
}
.pQueEsNovela_show{
    height: 26rem;
}


@media screen and (max-width: 600px){
    .nPgenero,.nPidioma,.nPsinopsis{
        font-size: 1.8rem;
    }

    .listaCard{
        width: 36rem;
        height: 41rem;
    }

    .imgLista{
        width: 27rem;
        height: 32rem; 
    }

    .preguntas{
        margin: 5rem 5rem;
    }    
    

    .Ltitulo{
        margin-top: 47rem;
    }

    .btnFlechaIzq{
        left: 4%;
    }
    .btnFlechaDer{
        right: 4%;
    }

    .pregunta1, .pregunta2{
        font-size: 1.8rem;
    }

    .pQueEsNovela_show{
        height: 30rem;
    }

}


@media screen and (max-width: 400px){
    .header{
        padding: 1rem 2rem;
    }

    .btnMenu{
        right: 7rem;
    }

    .imgLogo{
        width: 5rem;
    }

    .preguntas{
        margin: 5rem 2rem;
    }

    .pregunta1, .pregunta2{
        font-size: 1.6rem;
    }

    .parrafoPregunta{
        font-size: 1.65rem;
    }
    
    .pQueEsNovela_show{
        height: 34rem;
    }
}

@media screen and (max-width: 350px){
    .header{
        padding: 1rem .5rem;
    }

    .btnMenu{
        right: 5rem;
    }

    .contNav{
        top: 7rem;
    }

    .Ltitulo{
        margin-top: 50rem;
    }

    .btnFlechaIzq{
        left: 3%;
        padding: .5rem;
    }
    .btnFlechaDer{
        right: 3%;
        padding: .5rem;
    }

    .pQueEsNovela_show{
        height: 41rem;
    }

    @keyframes moverImgLogo {
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(18rem);
            -webkit-transform: translateX(18rem);
            -moz-transform: translateX(18rem);
            -ms-transform: translateX(18rem);
            -o-transform: translateX(18rem);
        }
    }

    .btnPregunta1,.btnPregunta2{
        right: 1rem;
        padding: .2rem;
    }
}